<br>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="dropdown" style="    width: 50%;
    float: left;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Recent</button> 
            <!-- <span class="caret"></span></button> -->
        <!-- <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-folder-o" aria-hidden="true"></i> New Folder</a></li>
            <li><a href="#"> <i class="fa fa-file" aria-hidden="true"></i> Upload File</a></li>
            <li><a href="#"> <i class="fa fa-folder-open" aria-hidden="true"></i> Upload Folder</a></li>
        </ul> -->
    </div>
    <button type="button" class="btn btn-primary" *ngIf="GridView" (click)="viewData(1)" style="float: right;">
        <i class="fa fa-th-list" aria-hidden="true" data-toggle="tooltip" title="List View!"></i></button>
    <button type="button" class="btn btn-primary" *ngIf="listView" (click)="viewData(2)" style="float: right;    margin-right: 5px;">
        <i class="fa fa-th-large" aria-hidden="true" data-toggle="tooltip" title="Grid View!"></i></button>
</div>
<hr>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <h4>Files</h4>
</div>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="GridView" >
    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-5 grid_demo" *ngFor="let item of documentList" [contextMenu]="basicMenu">
        <img src="{{item.Path}}" class="img-thumbnail" alt="Cinque Terre" width="304"
            height="236">
        <h6>{{item.DocumentDesc}}</h6>
    </div>
    <!-- <div class="col-md-2 col-lg-2 col-sm-3 col-xs-5 grid_demo" [contextMenu]="basicMenu">
        <img src="https://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-thumbnail" alt="Cinque Terre" width="304"
            height="236">
        <h6>test Document</h6>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-5 grid_demo" [contextMenu]="basicMenu">
        <img src="https://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-thumbnail" alt="Cinque Terre" width="304"
            height="236">
        <h6>test Document</h6>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-5 grid_demo" [contextMenu]="basicMenu">
        <img src="https://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-thumbnail" alt="Cinque Terre" width="304"
            height="236">
        <h6>test Document</h6>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-5 grid_demo" [contextMenu]="basicMenu">
        <img src="https://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-thumbnail" alt="Cinque Terre" width="304"
            height="236">
        <h6>test Document</h6>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-5 grid_demo" [contextMenu]="basicMenu">
        <img src="https://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-thumbnail" alt="Cinque Terre" width="304"
            height="236">
        <h6>test Document</h6>
    </div> -->
</div>

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="listView">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Last Modify</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of documentList" [contextMenu]="basicMenu">
                <td>{{item.DocumentDesc}}</td>
                <td>{{item.UserName}}</td>
                <td>{{item.CreatedOn}}</td>
                <td>{{item.IdDocument}}</td>
            </tr>
            <!-- <tr [contextMenu]="basicMenu">
                <td>Mary</td>
                <td>Moe</td>
                <td>john@example.com</td>
                <td>mary@example.com</td>
            </tr>
            <tr [contextMenu]="basicMenu">
                <td>July</td>
                <td>Dooley</td>
                <td>john@example.com</td>
                <td>july@example.com</td>
            </tr> -->
        </tbody>
    </table>
</div>
<!-- <ul>
    <li *ngFor="let item of items" [contextMenu]="basicMenu" [contextMenuSubject]="item">Right Click: {{item?.name}}</li>
</ul> -->
<context-menu>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
            <i class="fa fa-eye" aria-hidden="true"></i>  Preview
    </ng-template>
    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i> OpenWith
    </ng-template>
    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
            <i class="fa fa-share-alt-square" aria-hidden="true"></i> Share
    </ng-template>
    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
            <i class="fa fa-star" aria-hidden="true"></i>  Add Star
    </ng-template>
    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> reName
    </ng-template>
    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
            <i class="fa fa-info-circle" aria-hidden="true"></i> ViewDetails
    </ng-template>
</context-menu>